@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<h1>Login em PDV Genérico</h1>

<form asp-area="" asp-controller="PDV" asp-action="Index">
  <label for="user">Usuário:</label>
  <input type="text" id="BxUser" name="BxUser"><br><br>
  <label for="password">Senha:</label>
  <input type="password" id="BxPassword" name="BxPassword"><br><br>
  <input type="submit" value="Entrar">
</form>

<p><a href="url">Esqueci a senha.</a><p>
