@{
    Layout = "_LayoutPDV";
}

<button type="button" class="btn btn-primary">Adicionar</button>
<button type="button" class="btn btn-primary">Atualizar</button>
<button type="button" class="btn btn-primary">Visualizar</button>
<button type="button" class="btn btn-danger">Remover</button>