@{
    Layout = "_LayoutPDV";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao PDV Genérico</h1>
    <p>Você pode navegar pelas funções pela aba superior!</p>
</div>
