@{
    Layout = "_LayoutVazio";
}

<div align="center" style="margin-top:20%;">
    <h1>Login em PDV Genérico</h1>
</div>



<form asp-controller="Login" asp-action="ChecarLogin" method="post">
    <div class="form-group" align="center">
        <label for="BxUsuario">Usuário</label>
        <input type="text" class="form-control" id="BxUsuario" placeholder="Insira seu usuário" style="width:30%">
    </div>
    <div class="form-group" align="center">
        <label for="BxUsuario">Senha</label>
        <input type="password" class="form-control" id="BxSenha" placeholder="Insira sua senha" style="width:30%">
    </div>
    <div class="form-check" align="center">
        <input type="checkbox" id="BxConectado" align="center">
        <label for="BxConectado" align="center">Manter conectado</label>
    </div>
    <div align="center" style="margin-top:10px;">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>

<p style="margin-top:10px;" align="center">
    <a href="url" style="color:black;">Esqueci a senha</a>
<p>